@page "/counter"
@inherits PageView<CounterViewModel>

<PageTitle>Counter</PageTitle>

<h1>@ViewModel.Title</h1>

<p role="status">Current count: @ViewModel.Count</p>

<button class="btn btn-primary" @onclick="ViewModel.IncrementCommand.Bind()">Click me</button>